*{
	margin: 0;
	padding: 0;
}

.conteudo{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 5px;
	background-color: #FFFFFF;
}

.coluna1{
	width: 23%;
	background-color: #FFFFFF;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.inseto1{
	width: 90%;
	margin-bottom: 19px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.citacao{
	background-color: #FFFFFF;
	width: 100%;
	margin-bottom: 35px;
	text-align: justify;
	display: block;
	font-family: 'Tahoma', sans-serif;
	font-size: 13px;
}

.titulolink{
	background-color: #000000;
	color: #FFFFFF;
	height: 35px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 18px;
	font-family: 'Lora', serif;
	font-weight: 600;
	letter-spacing: 3px;
}

.linkblog{
	background-color: #FFFFFF;
	display: row;
	text-align: center;
	font-family: 'Tahoma', sans-serif;
	font-size: 13px;
}

.principal{
	width: 50%;
	background-color: #FFFFFF;
	float: left;
	margin-bottom: 20px;
	margin-top: 50px;
}

.kbca{
	width: 60%;
	background-color: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#destaque{
	font-family: 'Georgia', serif;
	font-size: 20px;
	letter-spacing: 0.5px;
}

.boas{
	background-color: #FFFFFF;
	text-align: center;
	display: block;
	margin-bottom: 30px;
	font-family: 'Tahoma', sans-serif;
	font-size: 13px;
	margin-top: 15px;
}


.coluna2{
	height: 500px;
	width: 27%;
	background-color: #FFFFFF;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

.inseto2{
	width: 53%;
	background-color: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.infos{
	width: 100%;
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 17px;
	margin-bottom: 16px;
}

.txtsobre{
	background-color: #FFFFFF;
	margin-bottom: 20px;
	text-align: justify;
	display: flex;
	justify-content: center;
	font-family: 'Tahoma', sans-serif;
	font-size: 13px;
}

.titlinkex{
	height: 27px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lora', serif;
	font-weight: 600;
	letter-spacing: 3px;
}

.linkex{
	background-color: #FFFFFF;
	margin-bottom: 20px;
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Tahoma', serif;
	font-size: 13px;
}

.rodape{
	height: 35px;
	width: 90%;
	background-color: #FFFFFF;
	clear: both;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 10px;
}